.navSection {
  width: 100%;
  height: 12vh;
  background: rgb(169, 226, 254);
  background: linear-gradient(
    180deg,
    rgb(169, 226, 254) 27%,
    rgba(255, 255, 255, 1) 100%
  );
  display: grid;
  grid-template-columns: 10rem 30% 2fr 1fr 5rem;
}

.logo {
  margin-top: 1.5rem;
  grid-column: 2/3;
}

.logo img {
  width: 200px;
  height: 50px;
  animation: updown 2s infinite alternate ease-in-out;
}

@keyframes updown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.listElements {
  grid-column: 3/4;
  margin-top: 2rem;
}

nav {
  display: grid;
  gap: 2rem;
  grid-template-columns: 30% 30% 30%;
  text-align: center;
}

.profileSection {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

a {
  color: #2c3333 !important;
  font-size: 2rem;
  text-decoration: none !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 800ms;
}

a:hover {
  transform: scale(1.2);
  color: #fa0919 !important;
}

.profileSection a:first-child {
  text-align: center;
}